<div class="container formsDiv">
  <form class="row rewardForm">
    <div class="col s12">
      <div class="card blue lighten-2 row">
        <div class="card-content">
          <div class="row track-controls valign-wrapper">
            <div class="col s12 m8">
              <span class="card-title">Tracks</span>
              <p class="track-subtitle">Configure the rewards for each track, including the permission node applied to every level. Free and Premium are included by default, and you can add additional tracks as needed.</p>
            </div>
            <div class="col s12 m4 right-align">
              <button class="addTrackBtn btn waves-effect waves-light purple darken-1" type="button">Add Track</button>
            </div>
          </div>
          <div class="row tracksContainer"></div>
        </div>
      </div>
    </div>
    <div class="col s12 blue lighten-2 center">
      <div class="row center">
        <div class="input-field col s3 center">
          <input placeholder="Index to Update" type="text" class="index">
        </div>
      </div>
      <div class="row center">
        <div class="col s3 center">
          <button class="addBtn btn waves-effect waves-light purple darken-1" type="submit">Add Reward</button>
        </div>
        <div class="col s3 center">
          <button class="importBtn btn waves-effect waves-light purple darken-1" type="button">Import JSON</button>
        </div>
        <div class="col s3 center">
          <button class="viewBtn btn waves-effect waves-light purple darken-1" type="button">View/Copy JSON</button>
        </div>
        <div class="col s3 center">
          <button class="clearBtn btn waves-effect waves-light red accent-3" type="button">Clear All</button>
        </div>
      </div>

    </div>
    <script id="track-definitions-data" type="application/json">{{{trackDefinitionsJson}}}</script>
  </form>


</div>
<div class="container row">
  <div class="col s12 jsonView hide">
    <div class="row">
      <button class="copyBtn right btn waves-effect purple darken-1">Copy</button>
    <pre class="col s10 center">
        <textarea class="grey lighten-4 jsonText materialize-textarea">{{stringified}}</textarea>
      </pre>

    </div>
  </div>
  <div class="col s12 importView hide">
    <form class="row grey lighten-4 importForm">
      <div class="col s10">
        <div class="input-field">
          <textarea id="importText" class="materialize-textarea"></textarea>
          <label for="textarea1">Paste JSON Here</label>
        </div>
      </div>
      <div class="col s2">
        <button class="submitImport btn waves-effect purple darken-1" type="submit">Import</button>
      </div>
    </form>
  </div>
    {{#each rewardsList as |reward|}}
    {{> reward-list}}
    {{/each}}
</div>